.primary-btn {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  background-color: $primary-green;
  width: 100%;
  padding: 1.2em 0;
  border-radius: 0.625em;
  text-transform: uppercase;
  margin: 2.6em 0;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.15));

  &:hover {
    color: $primary-green;
    border-color: $primary-green;
    background-color: #fff;
  }
}
