.login-container {
  width: 100%;
  height: 100%;
  background-color: $grey-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #fff;
  font-size: 1rem;
  padding: 2.25em 6em;
  aspect-ratio: 1;
  border-radius: 1.25rem;
  box-shadow: 0 0 29px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    margin: 1em 0;
    width: 21em;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.875em;
  color: $grey-text;
  padding: 0 0.5em;
}

.remember-option {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  input {
    width: 1rem;
    height: 1rem;
  }
}

.options > *,
.remember-option > * {
  cursor: pointer;
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .login-card {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .login-card {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 1199px) {
  .login-card {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 576px) {
  .login-card {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 4em 0 0 0;
    aspect-ratio: auto;

    form {
      margin: 2em 0;
      width: 95%;
      max-width: 22em;
    }
  }
}

@media screen and (max-width: 320px) {
  .options {
    font-size: 0.8em;
  }
}
