.sidebar {
  background-color: #fff;
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .logo {
    width: 60%;
    margin: 1em 2.4em 1.3em 2.4em;
  }

  nav {
    padding: 1.5em 0;
    height: 75%;
    border-top: 1px solid #f4f7fe;
  }

  a {
    cursor: initial;
    text-decoration: none;
  }

  a.active {
    text-decoration: none;

    .link {
      background-color: $primary-green;

      p {
        color: #fff;
      }

      path {
        fill: #fff;
      }

      ellipse {
        stroke: #fff;
      }
    }
  }
}

.link {
  margin: 0 2.4em 1em 2.4em;
  display: flex;
  align-items: center;
  padding: 0.875em;
  column-gap: 0.875em;
  border-radius: 0.35rem;

  & > * {
    cursor: pointer;
  }

  p {
    font-size: 1em;
    font-weight: 700;
    color: $grey-text;
  }

  path {
    height: 1.1em;
  }
}
