.underlined {
  font-weight: 700;
  color: $primary-green;
  position: relative;
  font-size: 2.5em;
  margin: 0.6em 0;

  &::before {
    content: "";
    height: 4px;
    width: 84px;
    background-color: $primary-green;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
