@import "../../variables";

.panel-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: $grey-background;
  display: flex;
  font-size: 1rem;
  overflow-y: hidden;
}

.panel-content-container {
  height: 100%;
  width: calc(100% - #{$sidebar-width});
}